<h3 style="color: white; font-size: 50px;">Sign In</h3>

<form action="/admin" method="post">


  <label for="username"><b style="font-size: 30px;" class="login-username">Username</b></label>
  <input style="margin-top: 20px;" type="text" placeholder="Enter Username" name="username">

  <label for="password"><b style="font-size: 30px;">Password</b></label>
  <input style="margin-top: 20px; margin-bottom: 30px;" type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Login" class="btn" style="padding: 18px 40px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  font-size: 15px;
  border-radius: 10px;
  transition: all ease 0.25s;">

</form>

<!-- <h3>Register</h3>

<form action="/register" method="post">


  <label for="username"><b>Username</b></label>
  <input type="text" placeholder="Enter Username" name="username">

  <label for="password"><b>Password</b></label>
  <input type="password" placeholder="Enter Password" name="password">

  <input type="submit" value="Register" class="btn">

</form> -->